* {
    margin: 0;
    padding: 0;
    background-color: hsl(174, 26%, 45%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    color: hsl(174, 26%, 45%);
    padding-right: 40px;
    padding-left: 40px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: "poppins";
    font-size: 20px;
    list-style: none;
    background-color: transparent;
}

.list li {
    background-color: transparent;
}

img {
    width: 85px;
    height: 85px;
    background-color: transparent;
}