/* All */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f5;
    font-family: "Poppins", sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


/* big titles */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 2rem;
    gap: 20px;
    font-size: 25px;
}


/* NavBar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 246, 230);
    color: rgb(107, 106, 106);
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: "poppins";
    font-size: 20px;
    list-style: none;
    padding-left: 100px;
}

.menu :hover {
    color: rgb(0, 76, 8);
    cursor: pointer;
    transition: 0.1;
}

.logo {
    width: 80px;
}

.recherche {
    display: flex;
    align-items: center;
    gap: 5px;
}

.recherche-champ {
    padding: 5px;
}

#recherche-icone {
    width: 25px;
    cursor: pointer;
}


/* Formulaire */

h1 {
    text-align: center;
    color: #D4B886;
    margin-bottom: 20px;
}

.formulaire {
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.champ {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    border-color: #D4B886;
    outline: none;
}

label span,
.error-message {
    color: red;
    font-size: 12px;
}


/* Total */

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding: 20px;
    width: 100%;
}

#prix {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
    flex-grow: 1;
    /* Permet au montant de prendre l'espace restant */
}


/* Btn */

.btn-envoyer {
    background-color: #D4B886;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    margin-left: 20px;
}

.btn-envoyer:hover {
    background-color: #7ea180;
    color: white;
}

.btn-envoyer:focus {
    outline: none;
}


/* MSG FORM VALIDE */

#message-succes {
    display: none;
    background-color: #d4edda;
    color: #155724;
    padding: 2px;
    border-bottom: 1px solid #155724;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}


/* Landing page */

.landing-image {
    width: 100%;
    height: 600px;
}


/* Styles de section avantages */

.title {
    position: relative;
    font-size: 50px;
    color: rgb(73, 74, 64);
    margin-bottom: 2rem;
}

.title::before,
.title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 150px;
    height: 1px;
    background-color: #ccc;
    transform: translateY(-50%);
}

.title::before {
    left: -160px;
}

.title::after {
    right: -160px;
}

.livraison-section {
    background-color: #f9f9f9;
    padding: 20px;
}

.livraison-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Permet aux éléments de passer à la ligne si nécessaire */
    max-width: 1300px;
    /* Largeur maximale pour le conteneur */
    margin: 0 auto;
    /* Centre le conteneur */
}

.livraison-item {
    flex: 2;
    /* Permet aux éléments de prendre de l'espace */
    text-align: center;
    /* Centre le texte */
    margin: 20px;
    /* Espace autour de chaque élément */
    padding: 10px;
    /* Espace intérieur */
    background-color: #ffffff86;
    /* Couleur de fond des éléments */
    border: 1px solid #ccc;
    /* Bordure autour des éléments */
    border-radius: 8px;
    /* Arrondir les coins */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Ombre légère pour le style */
    transition: transform 0.3s;
    /*Transition pour un effet au survol*/
}

.livraison-item:hover {
    transform: scale(1.05);
    /* Agrandissement au survol */
}

.icon {
    width: 40px;
    /* Largeur des icônes */
    height: auto;
    /* Garde les proportions de l'image */
    margin-bottom: 10px;
    /* Espace entre l'icône et le texte */
}


/*Presentation de Vendora */

.presentation-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem;
    margin-top: 2rem;
    background-color: #f8f8f8;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content-container img {
    width: 100%;
    height: 100%;
}

.description-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(64, 149, 96);
}

.description-container p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.description-container .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-container .learn-more-button {
    padding: 1rem 2rem;
    background-color: rgb(64, 149, 96);
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Styles de section produits */

main h1 span {
    color: rgb(56, 188, 30);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.cadre-container {
    width: 1230px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.Produits {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    gap: 10px;
    box-shadow: 0px 11px 35px 0px rgba(198, 188, 188, 0.75);
    transition: .5s ease-in-out;
}

.Produits:hover {
    transform: scale(1.05);
    box-shadow: 0px 11px 35px 0px rgba(209, 241, 209, 0.9);
    cursor: pointer;
    /* Ajoute un curseur de pointeur pour indiquer que l'élément est clickable */
}

.Produits img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.Produits button {
    width: 200px;
    height: 40px;
    background-color: rgb(161, 203, 98);
    color: white;
    font-size: 17px;
    box-shadow: 0px 11px 35px 0px;
    margin-bottom: 1rem;
    cursor: pointer;
}


/* Styles description produits */

.product-presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.product-image {
    flex: 1;
    margin: 10px;
}

.product-image img {
    width: 100%;
    height: 550px;
    border-radius: 10px;
}

.product-description {
    margin: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100px;
    /* Ajustez cette valeur selon la hauteur de votre image */
}

.product-description h2 {
    font-size: 30px;
    margin-bottom: 20px;
    /* Espace ajouté entre le titre et le reste du contenu */
}

.product-description p {
    font-size: 14px;
    margin-bottom: 20px;
    /* Espace entre le paragraphe et la liste */
}

.product-description ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-description li {
    font-size: 14px;
    margin-bottom: 10px;
    /* Espace entre les éléments de la liste */
}

.product-description li:before {
    content: "\2022";
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}


/* Footer */

footer {
    background-color: #426159;
    /* Couleur de fond du footer */
    padding: 20px;
    /* Espacement interne */
    text-align: center;
    /* Centrer le texte */
    border-top: 1px solid #dddddd;
    /* Bordure en haut du footer */
}

.footer-content {
    max-width: 1200px;
    /* Largeur maximale du contenu */
    margin: 0 auto;
    /* Centrer le contenu */
}

.footer-content p {
    margin: 10px 0;
    /* Espacement vertical autour du paragraphe */
    color: #ffffff;
    /* Couleur du texte */
}

.footer-links {
    list-style: none;
    /* Supprimer les puces de la liste */
    padding: 0;
    /* Supprimer le padding */
    margin: 10px 0;
    /* Espacement vertical autour de la liste */
}

.footer-links li {
    display: inline;
    /* Afficher les éléments de la liste en ligne */
    margin: 0 15px;
    /* Espacement horizontal entre les liens */
}

.footer-links a {
    text-decoration: none;
    /* Supprimer le soulignement des liens */
    color: #ffffff;
    /* Couleur des liens */
    transition: color 0.3s;
    /* Animation de la couleur */
}

.footer-links a:hover {
    color: rgb(73, 197, 83);
    /* Couleur au survol */
}

.social-media {
    margin-top: 15px;
    /* Espacement au-dessus des icônes de médias sociaux */
}

.social-media a {
    text-decoration: none;
    /* Supprimer le soulignement des liens */
    color: #ffffff;
    /* Couleur des liens de médias sociaux */
    margin: 0 10px;
    /* Espacement horizontal entre les liens */
    transition: color 0.3s;
    /* Animation de la couleur */
}

.social-media a:hover {
    color: rgb(73, 197, 83);
    /* Couleur au survol */
}