/* All */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5DC;
    font-family: "Poppins", sans-serif;
}


/* NavBar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: rgb(87, 86, 86);
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: "poppins";
    font-size: 20px;
    list-style: none;
    padding-left: 100px;
    cursor: pointer;
}

.logo {
    width: 80px;
}

.recherche {
    display: flex;
    align-items: center;
    gap: 5px;
}

.recherche-champ {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#recherche-icone {
    width: 25px;
    cursor: pointer;
}


/* Formulaire */

h1 {
    text-align: center;
    color: #D4B886;
    margin-bottom: 20px;
}

.formulaire {
    max-width: 600px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.champ {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    border-color: #D4B886;
    outline: none;
}

label span,
.error-message {
    color: red;
    font-size: 12px;
}


/* Total */

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding: 20px;
    width: 100%;
}

#montant {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
    flex-grow: 1;
    /* Permet au montant de prendre l'espace restant */
}


/* Btn */

.btn-envoyer {
    background-color: #D4B886;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    /* Le bouton prend 50% de l'espace */
    margin-left: 20px;
}

.btn-envoyer:hover {
    background-color: #7ea180;
    color: white;
}

.btn-envoyer:focus {
    outline: none;
}


/* MSG FORM VALIDE */

#message-succes {
    display: none;
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}